//flex grid
@mixin display-flex($direction: row) {
  display: flex;
  flex-direction: $direction;
}

@mixin flex-align($direction: flex-start) {
  justify-content: $direction;
  align-items: $direction;
}

@mixin justify-align($justify: flex-start, $align: flex-start) {
  justify-content: $justify;
  align-items: $align;
}

@mixin flex-wrap {
  flex-wrap: wrap;
}

@mixin flex-no-wrap {
  flex-wrap: nowrap;
}

//theme color
@mixin dark-theme-color($dark-mode: true) {
  @if $dark-mode {
    background-color: tint($dark, 2%);
  }
}

//colors
@mixin set-colors ($color, $percentage) {
  @if lightness($color)>45% {
    color: tint($secondary, $percentage);
    background-color: shade($color, $percentage);
  }

  @else {
    color: shade($muted, $percentage);
    background-color: tint($color, $percentage);
  }
}

//border
@mixin set-border ($side: _, $color: #ccc, $width: 1px) {

  @if $color ==_ {
    $color: #ccc;
  }

  @if $side ==_ {
    border: solid $color;
    border-width: $width;
  }

  @else {
    border-#{$side}: $width solid $color;
  }


}

//outline
@mixin set-outline ($value: _, $color: #ccc, $width: 1px) {
  @if $value ==_ {
    outline: solid $width $color;
  }

  @else {
    outline-#{$value}: solid $width $color;
  }
}

//fonts
@mixin font($weight: 400, $size: 22px, $style: normal) {
  font-style: $style;
  font-weight: $weight;
  font-size: $size;
}

//text
@mixin text-center {
  text-align: center;
}

//animation
@mixin animate($duration: 0.3s) {
  transition: all $duration ease-in-out;
}

//transform
@mixin absolute-center() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin set-absolute($top: 0, $left: 0, $bottom: 0, $right: 0) {
  position: absolute;
  top: $top;
  left: $left;
  bottom: $bottom;
  right: $right;
}