$shadow-values: (
  1:   1px,
  2:   2px,
  3:   3px,
  4:   4px,
  5:   5px,
  6:   6px,
  7:   7px,
  8:   8px,
  9:   9px,
  10:  10px,
) !default;

@each $value, $size in $shadow-values {
  .shadow-#{$value} {
    box-shadow: 0 1px $size * 3 $size rgba(0, 0, 0, 0.05 * $value);
  }
  .t-shadow-#{$value} {
    text-shadow: 0.1 * $size 0.5 * $size 0.5 * $size rgba(0, 0, 0, 0.1 * $value);
  }
  
}