.container {
  padding: 0 10px;
  margin: auto;

  &#{&}-s {
    max-width: $breakpoint-small;
  }

  &#{&}-m {
    max-width: $breakpoint-medium;
  }

  &#{&}-l {
    max-width: $breakpoint-large;
  }

  &#{&}-collapse {
    padding: 0;
  }
}

@each $letter,
$value in $gaps {
  @media (min-width: map-get($breakpoints, $letter)) {
    .container {
      padding: 0 $value;
    }
  }
}