.section {
  position: relative;
  padding: 40px 0;
  min-width: 100%;

  @each $color in map-keys($theme-colors) {
    &-#{$color} {
      @include set-colors(map-get($theme-colors, $color), 0%);
    }
  }

  &-collapse {
    padding: 0;
  }
}