.h-table {
  display: table;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;

  &.table-m {
    th, td {
      padding: 7px 12px;
    }
  }

  th.shrink {
    width: 1px;
    text-align: center;
  }

  .expand{
    min-width: 50px;
  }

  .auto {
    width: auto;
  }

  th, td {
    display: table-cell;
    padding: 10px;
    text-align: left;
  }
  th {
    font-weight: 500;
  }
   
   tbody {
      tr {
         border-top: 1px solid mix(#000000, $muted, 30);
         cursor: default;

         &:hover {
            background-color: $secondary;
         }
      }
   }

   &.dark-mode {
      tbody tr:hover {
         @include dark-theme-color;
      }
   }
}